.container{
    width: 600px;
    height: 600px;
}

.row{
    display: flex;
}

.grid-square{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.161);
    border-width: 1px;
}

.visited-grid-square{
    background-color: rgba(183, 180, 180, 0.761);
}